
.body,.left,.right,.bill,.pay-method,.summary-body,.summary-header,.button-order-container,.shipping-selector,.shipping-charges,.shipping,.shipping-header-container,.date-option,.cart-product-price-container,.cart-product-image,.left-header,.cart-review,.cart-product,body,.header,.cart-logo-image,.main-title,.lock-logo,.title{
    border:solid 1px black;
    padding:10px;
    margin:5px;
}
body{
     font-family:arial; 
}
img{
    width:50px;
}
.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.cart-amazon-logo{
    width:100px;
}
.main-title-p{
    font-size:20px;
    font-weight:600;
}
.items{
    color:green;
}
.logo-image{
    width:20px;
}
.title-review{
    font-weight:700;
    font-size:25px;
}
.body{
    display:flex;
}
.cart-review{
    display:flex;
}
.cart-product{
    display:flex;
}
.date-option{
    display:flex;
    align-items:center;
}
.bill{
    display:flex;
    justify-content:space-between;
}
.pay-method{
    display:flex;
}